<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.mechanicalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MechanicalApp">
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".FreelanceMechanicProfileActivity" />
        <activity android:name=".MechanicWorkshopProfileActivity" />
        <activity android:name=".AssociatedMechanicProfileActivity" />
        <activity android:name=".DriverProfileActivity" />
        <activity android:name=".NavTestActivity" />
        <activity
            android:name=".NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/Theme.MechanicalApp.NoActionBar" />
        <activity
            android:name=".DriverMapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity
            android:name=".VehiclesListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_cars_list"
            android:theme="@style/Theme.MechanicalApp.Fullscreen" />
        <activity
            android:name=".DriverResgisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="title_activity_driver_resgister"
            android:theme="@style/Theme.MechanicalApp.Fullscreen" />
        <activity
            android:name=".VehicleRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="title_activity_vehicle_resgister"
            android:theme="@style/Theme.MechanicalApp.Fullscreen" />
        <activity
            android:name=".SelectUserTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_select_user_type"
            android:theme="@style/Theme.MechanicalApp.Fullscreen" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MechanicalApp.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.MechanicalApp.Fullscreen" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <compatible-screens>
        <screen
            android:screenDensity="420"
            android:screenSize="small" />
    </compatible-screens>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

</manifest>